*{margin: 0px; padding: 0px;}
@font-face {
font-family: newfont;
src: url('https://f.elicdn.com/assets/dist/fonts/iransharp/en-num/iransharp_regular_web.eot');
src: url('https://f.elicdn.com/assets/dist/fonts/iransharp/en-num/iransharp_regular_web.woff2') format("woff2"), 
    url('https://f.elicdn.com/assets/dist/fonts/iransharp/en-num/iransharp_regular_web.woff') format("woff"), 
    url('https://f.elicdn.com/assets/dist/fonts/iransharp/en-num/iransharp_regular_web.ttf') format("truetype"), 
    url('https://f.elicdn.com/assets/dist/fonts/iransharp/en-num/iransharp_regular_web.svg') format("svg");
font-display: swap;
font-style: normal;
font-weight: normal;
}

nav{
    height: 65px;
    background-color: white;
    position: sticky;
    top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 10;
}
#textlogo{
    height: 45px;
    width: 75px;
    position: absolute;
    top: 12px;
    right: 90px;
}
#threelines{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 27px;
    color: #545454
}
.loginbutton {
    width: 100px;
    height: 36px;
    background-color: #005792;
    border-radius: 5px;
    position: absolute;
    top: 14.5px;
    left: 30px;
    text-align: center;
    font-family: newfont;
    transition: 0.5s;
    line-height: 35px;
    font-size: 13px;
}
.loginbutton a{
    color: white;
    text-decoration: none;
}
.loginbutton:hover{
    background-color:#00416D;
}
.aside{
    position: fixed;
    right: 0px;
    top: 120px;
}
.aside li{
    width: 76px;
    height: 50px;
    list-style-type: none;
    text-align: center;
    font-family: newfont;
    font-size: 12.5px;
    padding: 15px 10px;
}
.aside li:hover {
    background-color: #F2F2F0
}
.mc{ /**menu category**/
    text-decoration: none;
    color: #545454;
    line-height: 20px;
}
#sec1{
    height: 744px;
    background-color: white;
}
.mid{
    border-radius: 10px;
    box-shadow: 1px 1px 9px -3px black;	
    margin: 30px auto;
    width: 1160px;
    height: 109.2px;	
    display: flex;	
}
.mid li{
    width: 192.67px;
    height: 109.2px;
    list-style-type: none;
    text-align: center;
    font-family: newfont;
    font-size: 16px;
    color: #272e4f;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    border-right: 1px solid #dadce0;	
}
.midicon{
    font-size: 32px;
    line-height: 55px;
    -webkit-text-stroke: 1.5px #ff471a;;
    color: transparent;
}
.mid li:hover {
    background-color: #F2F2F0;
}
.mid2{
    width: 1160px;
    height: 84px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 9px -3px black;
    margin: 0px auto;
}
.mid2>a{
    color: black;
}
.searchfield{
    width: 592.617px;
    height: 84px;
    border-left: 1px solid #dadce0;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.calendar{
    width: 400.716px;
    height: 84px;
    float: left;
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 23px;
}
.calendar:hover{
    cursor: pointer;
}
.date1, .date2{
    width: 155.267px;
    height: 57px;
    line-height: 50px;
}
.date1{
    border-left: 1px solid #dadce0;
    text-align: right;
}
.calicon{
    -webkit-text-stroke: 1px #ff471a;
    color: transparent;
    font-size: 20px;
}
.from, .to{
    width: 215.9px;
    height: 64.6px;
    padding: 0px 30px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    direction: rtl;
    font-family: newfont;
    font-size: 13px;
}
.semicircle{
    position: absolute;
    height: 40px;
    width: 20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-left: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    top: 21px;
    left: 266px;
    border-right: 2px solid white;
}
.semicircle2{
    position: absolute;
    height: 40px;
    width: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-right: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    top: 21px;
    right: 266px;
    border-left: 2px solid white;
}
.exchange{
    color: #dadce0;
    
}
.searchbutton{
    background-color: #005792;
    width: 162.667px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    color: white;
    font-size: 21px;
    float: left;
}
.searchbutton:hover {
    background-color:#0c4871;
    cursor: pointer;
}
.toolbar{
    direction: rtl;
    width: 1160px;
    height: 44px;
    margin: 10px auto;
    position: relative;
    z-index: 1;
}
.toolbar>li{
    display: inline-block;
    list-style-type: none;
    font-size: 15px;
    margin: 0px 10px;
    font-family: newfont;
    line-height: 50px;
}
.dropdown{
    width: 297px;
    height: 295px;
    background-color: white;
    box-shadow: 1px 1px 9px -3px black;
    position: absolute;
    border-radius: 10px;
    display: none;
    font-size: 15px;
}
.drp1content{
    height: 267px;
    width: 295px;
    margin: 15px 0px;

}
.drp1content ul li{
    display: flex;
    align-items: baseline;
    margin: 15px auto;
    align-items: center;
}
.drp1content ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    margin: 30px 0px;

}
.numbercontent{
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown2, .dropdown3{
    width: 200px;
    height: 188px;
    background-color: white;
    box-shadow: 1px 1px 9px -3px black;
    position: absolute;
    border-radius: 10px;
    display: none;
    font-size: 15px;
}
.drp2content, .drp3content{
    width: 200px;
    height: 168px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.radio-list, .radio-list2{
    width: 200px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: right;
}
.choosed{
    background-color: #f3f5f7;
}
.choosed>span{
    margin-left: 15px;
    color:rgb(78, 78, 78);
}
.radio-list:hover, .radio-list2:hover{
    background-color: #f3f5f7;
    cursor: pointer;
}
.age{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
}
.troublemaker{
    width: 62px;
    height: 40px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin: 0px;
}
.ageinstruct{
    font-size: 10px;
}
.plus, .minus{
    width: 30px;
    height: 30px;
    color: #005792;
    background-color: #e8f0fe;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.numbercontent{
    text-align: center;
}
.subandcan{ /**submit and cancel**/
    height: 32px;
    width: 290px;
    margin: 0px auto;
    direction: rtl;
}
#sub1{
    float: left;
    color: #4285f4;
    width: 80px;
    text-align: center;
    height: 32px;
    line-height: 30px;
    border-radius: 2px;
}
#can1{
    float: left;
    color: black;
    width: 80px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}
#sub1:hover, #can1:hover{
    background-color: rgba(0,0,0,.12);
}
.numberofpassengers:hover .dropdown{
    display: block;
    top: -25px;
    right: -1px;
}
.twoways:hover .dropdown2{
    display: block;
    top: -25px;
    right: 75px;
}
.economy:hover .dropdown3{
    display: block;
    top: -25px;
    right: 210px;
}
.dropdown ul{
    height: 178px;
    width: 295px;
}
.dropdown ul>li{
    list-style-type: none;
}
.triangle{
    color: #6c757d;
}
.toolbar li a{
    text-decoration: none;
    color: black;
}
.clear{
    clear: both;
}
.flight-search{
    width: 1330px;
    margin: 0px auto;
    position: relative;
}
.search{
    width: 380px;
    height: 55px;
    border-radius: 10px;
    box-shadow: 1px 3px 7px -3px black;	
    direction: rtl;
    font-family: newfont;
    font-size: 18px;
    background-color: white;
    position: absolute;
    bottom: 24.5px;
    left:470.5px;
}
.fa-search{
    line-height: 54px;
    margin: 0px 15px;
    color: #545454;
}
#sec2{
    background-color: #ebecf0;
}
.layout{
    margin: 0px auto;
    width:1145px;
    font-family: newfont;
    direction: rtl;
    position: relative;
    /**border: 2px solid black;**/
}
#heading{
    text-align: center;
    font-family: newfont;
    font-size: 25px;
    padding-top: 50px;
}
.box{
    width: 1040px;
    height: 140px;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    padding: 50px 50px;
    box-shadow: 1px 3px 7px -3px black;
    position: relative;
    direction: rtl;
    font-family: newfont;
}
.text{
    line-height: 30px;
    margin-right:90px;
}
.text p{
    margin: 15px 0px;
    text-align: justify;
}
.close{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: #949699;
}
.close:hover{
    color: rgb(78, 78, 78);
    cursor: pointer;
}
#logo{
    position: absolute;
    top: 35px;
    right:25px;
    width: 94.8501px;
    height: 60px;
}
.section{
    margin: 60px 5px 50px 0px;
    font-size: 25px;
    color: #272e4f;
    direction: rtl;
}
.col1, .col2, .col3{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
.minibox{
    width: 260px;
    height: 367.8px;
    position: relative;	
    background-color: white;
    box-shadow: 1px 3px 7px -3px black;
    border-radius: 5px;
    transition: 0.5s;
    bottom: 0px;
    left: 0px;
}
.pic>img{
    transition: 0.5s;
    width: 260px;
}
.pic{
    width: 260px;
    height: 169px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.mb{ /**Mini box**/
    width: 260px;
    height: 200px;
    position: absolute;
}
.minibox:hover img{
    transform: scale(1.3);
}
.minibox:hover{
    bottom: 10px;
}
.checked{
    color: orange;
}
.clear{
    clear: both;
}
.hotel-name{
    font-weight: 700;
    font-size: 13px;
    color: #21388c;	
    margin: 20px 25px 15px 25px;
}
.checked{
    float: left;
    font-size: 13px;
    line-height: 15px;
    color: orange;
}
.star{
    float: left;
    font-size: 13px;
    line-height: 15px;
    color:lightgrey;
}
.minibox .par{
    font-size: 12px;
    margin-right: 25px;	
    color: black;
    font-weight: 600;
}
.info{
    font-size: 12px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: black;
}
.gb{
    margin-right: 25px;
    width: 30px;
    height: 30px;
    background-color:#7cb342;
    color: white;
    text-align: center;
    line-height: 2.3;
    display: inline-block;
}
.score{
    font-size: 13px;
    color: black;
    margin-bottom: 10px;
}
.sc{
    color: #21388c;
    margin-right: 5px;
}
.price{
    margin-right: 10px;
    font-size: 16px;
    color: black;
}
.start{
    font-size: 12px;
    margin-right: 25px;
    color: black;
}
.c1, .c2{
    display: flex;
    justify-content: space-around;
}
.sbox{
    width: 272.5px;
    height: 203.2px;
    background-color: white;
    box-shadow: 1px 3px 7px -3px black;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    bottom: 0px;
    transition: 0.5s;
}
.sbox:hover{
    bottom: 10px;
}
.desc{
    font-size: 13px;
}
.airline, .trainline{
    font-size: 12px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.deta{
    width: 240.73px;
    height: 171.767px;
    margin: 15px auto;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.flight-dest, .train-dest{
    width: 240.733px;
    height: 26.7667px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.mahanair{
    width: 30px;
    height: 20px;
    margin-left: 15px;
}
.aseman{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}
.iranair{
    margin-left: 15px;
    width: 30px;
    height: 26.4px;
}
.qeshmair{
    height: 25px;
    margin-left: 10px;
}
.vareshair{
    width:25px;
    margin-left: 10px;
}
.Raja{
    width: 40px;
    margin-left: 15px;
}
.Fadak{
    height: 35px;
    margin-left: 15px;
}
.circle{
    font-size: 7px;
}
.flight-time, .train-time{
    font-size: 12px;
    margin-bottom: 15px;
    width: 240.733px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flight-details, .train-details{
    width: 240.733px;
    display: flex;
    direction: rtl;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #272e4f
}
.colu1, .colu2{
    display: flex;
    justify-content: space-around;
}
.cbox{
    width: 533.4px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 1px 3px 7px -3px black;
    border-radius: 10px;
    background-color: white;
    display: flex;
}
.next{
    width: 29px;
    height: 36px;
    background-color: #005792;
    position: absolute;
    border-radius: 6px;
    right: -30px;
    top: 283px;
    border: none;
}
.angle{
    color: white;
}
.previous{
    width: 29px;
    height: 36px;
    background-color: #005792;
    position: absolute;
    border-radius: 6px;
    left: -30px;
    top: 283px;
    border: none;
}
.pic1{
    width: 266.7px;
    height: 200px;
    overflow: hidden;
    background-image: url(Images/Hotel-Helma.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    position: relative;
}
.pic2{
    width: 266.7px;
    height: 200px;
    overflow: hidden;
    background-image: url(Images/Hotel-Bozorg-Tehran.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    position: relative;
}
.pic3{
    width: 266.7px;
    height: 200px;
    overflow: hidden;
    background-image: url(Images/Hotel-Aban.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    position: relative;
}
.pic4{
    width: 266.7px;
    height: 200px;
    overflow: hidden;
    background-image: url(Images/Hotel-Almas.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    position: relative;
}
.duration{
    width: 112.717px;
    height: 44px;
    background-color: white;
    position: absolute;
    top: 11px;
    right: 12px
}
.duration a{
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}
.hotelinfos{
    width: 266.7px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hicontent{
    height: 144px;
    width: 150.067px;
    text-align: center;
}
.hititle{
    margin: 5px auto;
}

.hititle a{
    text-decoration: none;
    color: #3c3b3b;
    font-size: 15px;
    text-align: center;
}
.hilocat, .hiairline{
    color: #3c3b3b;
    font-size: 13px;
    margin: 10px auto;
    text-align: center;
}
.hiprice{
    color: #104096;
    font-size: 17px;
    direction: rtl;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}
.hiplane, .hicity{
    color:#ff471a;
}
.al{
    border-bottom: 1px solid #5392bf;
    margin-top: 50px
}
.al li{
    display: inline-block;
    width: 136.533px;
    height: 46.6px;
    text-align: center;
    line-height: 45px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.al li:hover{
    background-color: #5392bf;
}
.al li:hover a{
    color: #fff;
}
.al li a{
    text-decoration: none;
    font-size: 14px;
    color: #737373;
}
.city{
    width: 346.2px;
    height: 64.8px;
    border-bottom: 1px solid #e5ebf0;
    margin-bottom: 10px;
}
.city li{
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
}
.city li a{
    text-decoration: none;
    color: #0071c2;
}
.city li a:hover{
    color: #ff5e3a;
    border-bottom: 1px solid;
}
.colum1, .colum2, .colum3, .colum4 , .colum5, .colum6{
    display: flex;
    justify-content: space-between;
}
.bullet{
    color: #0071c2;
}
.lastpart{
    margin-bottom: 150px;
}
.footimg{
    width: 992px;
    height: 78px;
    display: flex;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    border-bottom: 1px solid #dadce0;
    padding: 20px 0px;
}
.footimg a{
    width: 110px;
    height: 78px;
    display: flex;
    justify-content: center;
}
.footimg a img{
    height: 100%;
    margin: 0px 15px;
}
.footerdescription{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #5f6368;
    line-height: 1.7;
}
.contact{
    height: 39px;
    width: 962px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-content: baseline;
}
.cont{
    color: #5f6368;
    font-size: 20px;
    margin: 0px 10px;
}
.contact2{
    width: 962px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.contact2 a{
    text-decoration: none;
    margin: 0px 15px;
    color: #007aff;
    border-radius: 4px;
    width: 113.333px;
    height: 39.6px;
    text-align: center;
    line-height: 39px;
    font-size: 15px;
}
.contact2 a:hover{
    color: #174ea6;
    background-color: #f6fafe;
}
.fixed{
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    border: 1px solid #005792;
    background-color: #005792;
    border-radius: 50%;
    width: 54.4px;
    height: 54.4px;
    line-height: 57px;
    transition: 0.5s;
}
.fixed:hover{
    background-color: #064269;
}
.fixed a{
    color: white;
}